ampairs:
  storage:
    provider: LOCAL
  local:
    enabled: true
    base-path: ./storage
    url-base: http://localhost:8080/api/files

aws:
  sns:
    enabled: false

firebase:
  enabled: false

logging:
  level:
    com.ampairs: DEBUG
    org.flywaydb: INFO
