server:
  compression:
    enabled: true
  tomcat:
    max-connections: 50
    accesslog:
      enabled: true
      pattern: "%h %l %u %t %r %s %b %D %{Referer}i %{User-Agent}i %{Request-Source}i"
      prefix: access_log
      suffix: .log
      file-date-format: .yyyy-MM-dd
      rotate: true
      renameOnRotate: true
      max-days: 10
      directory: logs
    threads:
      max: 50
      min-spare: 10
    accept-count: 50
    connection-timeout: 30000
  port: 8080
logging:
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 1000MB
  file:
    path: logs/
    name: ${logging.file.path}production.log
  pattern:
    file: "%highlight(%-5level) [%date] [%thread] [%cyan(%logger{0})] : %message%n"
    console: "%highlight(%-5level) [%date] [%thread] [%cyan(%logger{0})]: %message%n"

spring:
  profiles:
    active: dev
  jackson:
    property-naming-strategy: SNAKE_CASE
  datasource:
    url: jdbc:mysql://localhost:3306/munsi_app
    username: root
    password: pass
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: main-db-pool
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 20000
      idle-timeout: 60000
      max-lifetime: 300000
      validation-timeout: 5000
      leak-detection-threshold: 300000
  cloud:
    aws:
      credentials:
        access-key: AKIAQ4NSA2THT2L4K4FX
        secret-key: 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
      sns:
        enabled: true
        region: ap-south-1
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      ddl-auto: update

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 15552000000 # 180 days

drees:
  stacktrace: true
debug: false
