#Set context root
env:
  name:prod

server:
  compression:
    enabled: true
  jetty:
    accesslog:
      enabled: true
      filename: logs/access.log
      file-date-format: .yyyy-MM-dd
      append: true
      format: extended_ncsa
    threads:
      max: 50
    connection-idle-timeout: 10000
  port: 8080
spring:
  main:
    allow-bean-definition-overriding: true
  jackson:
    property-naming-strategy: SNAKE_CASE
  datasource:
    url: jdbc:mysql://prod-db.c1mfpengh7jq.ap-south-1.rds.amazonaws.com:3306/ampairs_app
    username: ampairs_rw
    password: Amp.213@873$123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          format_sql: true
    show-sql: false

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 15552000000 # 180 days

drees:
  stacktrace: true
logging:
  file:
    name: logs/ampairs.log
