# Grafana Alloy environment
GCLOUD_HOSTED_METRICS_ID="{{ gcloud_hosted_metrics_id }}"
GCLOUD_HOSTED_METRICS_URL="{{ gcloud_hosted_metrics_url }}"
GCLOUD_HOSTED_LOGS_ID="{{ gcloud_hosted_logs_id }}"
GCLOUD_HOSTED_LOGS_URL="{{ gcloud_hosted_logs_url }}"
GCLOUD_FM_URL="{{ gcloud_fm_url }}"
GCLOUD_FM_POLL_FREQUENCY="{{ gcloud_fm_poll_frequency }}"
GCLOUD_FM_HOSTED_ID="{{ gcloud_fm_hosted_id }}"
ARCH="{{ gcloud_arch }}"
GCLOUD_RW_API_KEY="{{ gcloud_rw_api_key }}"
