prometheus.remote_write "metrics_hosted_prometheus" {
  endpoint {
    name = "hosted-prometheus"
    url  = "{{ gcloud_hosted_metrics_url }}"

    basic_auth {
      username = "{{ gcloud_hosted_metrics_id }}"
      password = "{{ gcloud_rw_api_key }}"
    }
  }
}

prometheus.scrape "ampairs_spring_boot" {
  targets = [{
    __address__ = "{{ app_upstream | regex_replace('^https?://', '') | regex_replace('/.*$', '') }}"
    job         = "spring-boot"
  }]

  metrics_path    = "/actuator/prometheus"
  scrape_interval = "15s"
  forward_to      = [prometheus.remote_write.metrics_hosted_prometheus.receiver]
}
