#Set context root
server:
  tomcat:
    accesslog:
      enabled: true
  port: 8090
spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  datasource:
    url: jdbc:sqlite:file:./tally.sqlite
    driverClassName: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true

drees:
  stacktrace: true
logging:
  file.name: logs/tally.log
